@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 1.5rem; }

.bg-parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem; }
  .heading-primary--left {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation-name: moveInDown;
    animation-duration: 1s; }
  .heading-primary--right {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation-name: moveInDown;
    animation-duration: 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.3rem;
    animation-name: moveInUp;
    animation-duration: 1s; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #2176FF, #35A7FF);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }

.center-text {
  text-align: center; }

.margin-bottom-big {
  margin-bottom: 8rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1rem;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  transition: all .5s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(1.3) scaleY(1.2);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  color: #333;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: moveInUp .7s ease-in 3.5s;
  animation-fill-mode: backwards; }

.about {
  width: 85%;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  transform: skewX(15deg); }
  .about__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: orange;
    position: relative;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem); }
  .about__text {
    font-size: 1.5rem;
    transform: translateX(3rem); }
  .about__img {
    height: 100%;
    transform: translateX(0.5rem) scale(1.1); }
  .about > * {
    transform: skewX(-15deg); }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(33, 118, 255, 0.6), rgba(53, 167, 255, 0.6)), url("../../img/photo-1.jpg");
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75vh);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75vh); }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff; }
  .header__left {
    display: inline-block;
    animation-name: fadeInLeft;
    animation-fill-mode: backwards;
    animation-duration: 1.5s;
    letter-spacing: 1rem; }
    .header__left:nth-child(1) {
      animation-delay: .1s; }
    .header__left:nth-child(2) {
      animation-delay: .2s; }
    .header__left:nth-child(3) {
      animation-delay: .3s; }
    .header__left:nth-child(4) {
      animation-delay: .4s; }
    .header__left:nth-child(5) {
      animation-delay: .5s; }
    .header__left:nth-child(6) {
      animation-delay: .6s; }
    .header__left:nth-child(7) {
      animation-delay: .7s; }
    .header__left:nth-child(8) {
      animation-delay: .8s; }
    .header__left:nth-child(9) {
      animation-delay: .9s; }
  .header__right {
    display: inline-block;
    animation-name: fadeInRight;
    animation-fill-mode: backwards;
    animation-duration: 1.6s;
    letter-spacing: 1rem; }
    .header__right:nth-child(11) {
      animation-delay: .1s; }
    .header__right:nth-child(12) {
      animation-delay: .2s; }
    .header__right:nth-child(13) {
      animation-delay: .3s; }
    .header__right:nth-child(14) {
      animation-delay: .4s; }
    .header__right:nth-child(15) {
      animation-delay: .5s; }
    .header__right:nth-child(16) {
      animation-delay: .6s; }
    .header__right:nth-child(17) {
      animation-delay: .7s; }
    .header__right:nth-child(18) {
      animation-delay: .8s; }
    .header__right:nth-child(19) {
      animation-delay: .9s; }
  .header__sub {
    display: block;
    animation: fadeIn 1s ease-in 2s;
    animation-fill-mode: backwards;
    font-weight: 300;
    letter-spacing: 1.3rem;
    margin-bottom: 4rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 14rem 0;
  margin-top: -14rem; }
