$color-primary-dark: #2176FF; // crayola
$color-primary-light: #35A7FF; // brilliant azure

$color-bright: #fff;
$color-deep-dark: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$default-font-size: 1.6rem;