$color-primary-dark: #2176FF; // crayola
$color-primary-light: #35A7FF; // brilliant azure

$color-secondary-dark: #28b485;
$color-secondary-light: #7ed56f;

$color-tertiary-dark: #ff7730;
$color-tertiary-light: #ffb900;

$color-quaternary-dark: #2998ff;
$color-quaternary-light: #5643fa;

$color-bright: #fff;
$color-deep-dark: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$default-font-size: 1.6rem;