@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer {
    display: flex;
    justify-content: space-around;
    background-color: $color-grey-dark-3;
    font-size: 1.4rem;
    color: $color-bright;
    padding: 6rem 0;

    @include respond(tab-port) {
        padding: 3rem 0;
    }

    @include respond(phone) {
        flex-direction: column;
        align-items: center;
    }

    &__nav {
        margin: 0 2rem;

        @include respond(phone) {
            width: 80%;
        }
    }

    &__list {
        display: flex;
        list-style: none;
        border-top: 1px solid $color-grey-dark-2;

        @include respond(phone) {
            justify-content: center;
        }
    }

    &__item {
        margin: 1rem 1rem;
    }

    &__link {
        display: inline-block;
        transition: all .2s ease;
        &:link,
        &:visited {
            color: $color-bright;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
        }

        &:hover,
        &:active {
            color: $color-primary-light;
            box-shadow: 0 1rem 2rem rgba($color-deep-dark, .3);
            transform: translateY(-.6rem) skewY(2deg);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark-2; 
        width: 50%;

        @include respond(phone) {
            width: 80%;
        }
        
        p {
            margin-top: 1rem;
        }

    }

    
}