<footer class="footer">
    <div class="footer__nav">
        <ul class="footer__list">
            <li class="footer__item"><a href="/" class="footer__link">Home</a></li>
            <li class="footer__item"><a href="/about" class="footer__link">About</a></li>
            <li class="footer__item"><a href="/contact" class="footer__link">Contact</a></li>
            <li class="footer__item"><a href="/projects" class="footer__link">My Work</a></li>
        </ul>
    </div>
    <div class="footer__copyright">
        <p>Lorem ipsum dolor sit amet <a href="/about" class="footer__link">Krzysztof Podmokły</a> consectetur
            adipisicing elit. Hic accusantium, iusto dolorem explicabo tenetur
            illo nam magni fuga dolor ullam veritatis aliquid laudantium aspernatur a? Necessitatibus cum ipsa
            mollitia odio.</p>
    </div>
</footer>