<footer class="footer">
  <div class="footer__nav">
    <ul class="footer__list">
      <li class="footer__item"><a href="/" class="footer__link">Home</a></li>
      <li class="footer__item">
        <a href="/about" class="footer__link">About</a>
      </li>
      <li class="footer__item">
        <a href="/contact" class="footer__link">Contact</a>
      </li>
      <li class="footer__item">
        <a href="/projects" class="footer__link">My Work</a>
      </li>
    </ul>
  </div>
  <div class="footer__copyright">
    <p>
      Build by
      <a
        href="https://www.linkedin.com/in/krzysztof-podmokly-144069177/"
        class="footer__link"
        >Krzysztof Podmokły</a
      >
      for presentational purpose. Technologies which were used to develop this
      website are NodeJS, EJS, MongoDB. All credits are of course highly
      appreciated!
    </p>
  </div>
</footer>
