<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="nav-toggle">
    <label for="nav-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>
    <div class="navigation__background"></div>
    <nav class="navigation__navbar">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="/" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="/about" class="navigation__link">About</a></li>
            <li class="navigation__item"><a href="/contact" class="navigation__link">Contact</a></li>
            <li class="navigation__item"><a href="/projects" class="navigation__link">My Work</a></li>
        </ul>
    </nav>
</div>