<%- include('includes/header.ejs') %>

    <!-- Custom styles -->
    <link rel="stylesheet" href="public/css/navigation.css">
    <link rel="stylesheet" href="public/css/error.css">

    <title><%= pageTitle %></title>
</head>

<body>

    <%- include('includes/nav.ejs') %>

    <section class="section-error">
        <div class="error">
            <h1 class="heading-primary">Page Not Found</h1>
        </div>
    </section>

<%- include('includes/end.ejs') %>