<%- include('includes/header.ejs') %>

    <!-- Custom styles -->
    <link rel="stylesheet" href="public/css/navigation.css">
    <link rel="stylesheet" href="public/css/curriculum.css">

    <title><%= pageTitle %></title>

</head>

<body>
    <%- include('includes/nav.ejs') %>

    <section class="section-curriculum">
        
    </section>

<%- include('includes/end.ejs') %>