<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Custom font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/icon-font.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="css/style.css">

    <title>My | Website</title>
</head>

<body>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="nav-toggle">
        <label for="nav-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background"></div>
        <nav class="navigation__navbar">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">About</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Random</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">My Work</a></li>
            </ul>
        </nav>
    </div>

    <header class="header bg-parallax">
        <div class="header__logo-box">
            <img src="img/logo" alt="Logo for my website" class="header__logo">
        </div>

        <div class="header__content">
            <span class="header__left">K</span>
            <span class="header__left">r</span>
            <span class="header__left">z</span>
            <span class="header__left">y</span>
            <span class="header__left">s</span>
            <span class="header__left">z</span>
            <span class="header__left">t</span>
            <span class="header__left">o</span>
            <span class="header__left">f</span>
            <span>&nbsp;</span>
            <span class="header__right">P</span>
            <span class="header__right">o</span>
            <span class="header__right">d</span>
            <span class="header__right">m</span>
            <span class="header__right">o</span>
            <span class="header__right">k</span>
            <span class="header__right">ł</span>
            <span class="header__right">y</span>
            <span class="header__sub">Web development</span>
            <!-- <h1 class="heading-primary">
                <span class="heading-primary--main">
                    Krzysztof Podmokły
                </span>
                <span class="heading-primary--sub">Web development</span>
            </h1> -->
            <a href="#" class="btn btn--white btn--animated">View Work</a>
        </div>
    </header>

    <main>
        <section class="section-about">
            <div class="center-text margin-bottom-medium">
                <h2 class="heading-secondary">About me</h2>
            </div>
            <div class="about">
                <figure class="about__shape">
                    <img src="img/Krzysztof-Podmokly.jpg" alt="My photo" class="about__img">
                    <!-- <figcaption class="about__caption">Explore!</figcaption> -->
                </figure>
                <div class="about__text">
                    <h3 class="heading-tertiary u-margin-bottom-small">Lorem, ipsum dolor sit amet consectetur</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem quasi praesentium
                        libero in voluptas nihil, culpa perspiciatis nostrum earum molestias accusantium mollitia
                        inventore
                        voluptates consectetur hic? Magnam ea ipsam sint?</p>
                    <a href="#" class="btn-text">Learn more <span>&rarr;</span></a>
                </div>
            </div>
        </section>

        <section class="section-portfolio">
            <div class="center-text margin-top-negative-big">
                <h2 class="heading-secondary">Checkout my work</h2>
            </div>
            <div class="portfolio bg-parallax">

                <div class="portfolio-preview">
                    <div class="portfolio-preview__item"></div>
                    <div class="portfolio-preview__item"></div>
                    <div class="portfolio-preview__item"></div>
                    <div class="portfolio-preview__item"></div>
                    <div class="portfolio-preview__item"></div>
                </div>

                <div class="portfolio-box">
                    <div class="overlay"></div>
                    <i class="portfolio-box__icon icon-basic-world"></i>
                    <h3 class="heading-tertiary">Explore the work</h3>
                    <p class="portfolio-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                        impedit, excepturi quos veniam
                        delectus</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__nav">
            <ul class="footer__list">
                <li class="footer__item"><a href="#" class="footer__link">About</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Contact</a></li>
                <li class="footer__item"><a href="#" class="footer__link">My Work</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Random</a></li>
            </ul>
        </div>
        <div class="footer__copyright">
            <p>Lorem ipsum dolor sit amet <a href="#" class="footer__link">Krzysztof Podmokły</a> consectetur adipisicing elit. Hic accusantium, iusto dolorem explicabo tenetur
                illo nam magni fuga dolor ullam veritatis aliquid laudantium aspernatur a? Necessitatibus cum ipsa
                mollitia odio.</p>
        </div>
    </footer>
</body>

</html>