<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Custom font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/icon-font.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="css/projects.css">

    <title>My | Projects</title>
</head>

<body>
    <section class="section-projects">
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="img/Up.mp4" type="video/mp4">
                <source src="img/Up.webm" type="video/webm">
                Your browser is not supported!
            </video>
        </div>

        <div class="projects">
            <div class="projects__feature">
                <div class="projects__img projects__img--1">&nbsp;</div>
                <div class="projects__link">
                    <a href="#" class="projects__link--live btn btn--white">Live</a>
                    <a href="#" class="projects__link--code btn btn--white">Code</a>
                </div>
                <h4 class="projects__heading">Bonita Website</h4>
                <div class="projects__details">
                    <ul class="projects__list">
                        <li class="projects__item">RWD design</li>
                        <li class="projects__item">Node JS</li>
                        <li class="projects__item">ES6</li>
                    </ul>
                </div>
            </div>
            <div class="projects__feature">
                <div class="projects__img projects__img--2">&nbsp;</div>
                <div class="projects__link">
                    <a href="#" class="projects__link--live btn btn--white">Live</a>
                    <a href="#" class="projects__link--code btn btn--white">Code</a>
                </div>
                <h4 class="projects__heading">Budget App</h4>
                <div class="projects__details">
                    <ul class="projects__list">
                        <li class="projects__item">RWD design</li>
                        <li class="projects__item">Node JS</li>
                        <li class="projects__item">ES6</li>
                    </ul>
                </div>
            </div>
            <div class="projects__feature">
                <div class="projects__img projects__img--3">&nbsp;</div>
                <div class="projects__link">
                    <a href="#" class="projects__link--live btn btn--white">Live</a>
                    <a href="#" class="projects__link--code btn btn--white">Code</a>
                </div>
                <h4 class="projects__heading">Roll Dice Game</h4>
                <div class="projects__details">
                    <ul class="projects__list">
                        <li class="projects__item">RWD design</li>
                        <li class="projects__item">Node JS</li>
                        <li class="projects__item">ES6</li>
                    </ul>
                </div>
            </div>
            <div class="projects__feature">
                <div class="projects__img projects__img--4">&nbsp;</div>
                <div class="projects__link">
                    <a href="#" class="projects__link--live btn btn--white">Live</a>
                    <a href="#" class="projects__link--code btn btn--white">Code</a>
                </div>
                <h4 class="projects__heading">Weather App</h4>
                <div class="projects__details">
                    <ul class="projects__list">
                        <li class="projects__item">RWD design</li>
                        <li class="projects__item">Node JS</li>
                        <li class="projects__item">ES6</li>
                    </ul>
                </div>
            </div>
            <div class="projects__feature">
                <div class="projects__img projects__img--5">&nbsp;</div>
                <div class="projects__link">
                    <a href="#" class="projects__link--live btn btn--white">Live</a>
                    <a href="#" class="projects__link--code btn btn--white">Code</a>
                </div>
                <h4 class="projects__heading">Search Engine</h4>
                <div class="projects__details">
                    <ul class="projects__list">
                        <li class="projects__item">RWD design</li>
                        <li class="projects__item">Node JS</li>
                        <li class="projects__item">ES6</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>

</html>