/*

0px - 600px:       Phone
601px - 900px:     Tablet portrait
901px - 1200px:    Tablet landscape
1201px - 1800px:   In this range normal styles are applied
1801px ++ :        Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

Size calculations: browser default font size is 16px.
Media queries are not overwritten by our setup (62.5%).
max-width: 600px = 600px / browser's default = 600px / 16 = 37.5em

Order of writing queries:
1. Base + Typography
2. General layout
3. Page layout
4. Components

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  padding: 0.5rem;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.bg-parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  overflow-x: hidden;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.heading-primary--left {
  animation-name: moveInDown;
  animation-duration: 1s;
}
.heading-primary--right {
  animation-name: moveInDown;
  animation-duration: 1s;
}
.heading-primary--sub {
  display: block;
  letter-spacing: 1.3rem;
  animation-name: moveInUp;
  animation-duration: 1s;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3rem;
  background-image: linear-gradient(to right, #2176FF, #35A7FF);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
}

.center-text {
  text-align: center;
}

.margin-bottom-big {
  margin-bottom: 8rem;
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-top-small {
  margin-top: 2rem;
}

.margin-top-negative-big {
  margin-top: -22rem;
}

body {
  padding: 0;
}

.curriculum__box {
  display: flex;
  width: 100vw;
  align-items: center;
}
@media (max-width: 56.25em) {
  .curriculum__box {
    align-items: initial;
  }
}
@media (max-width: 37.5em) {
  .curriculum__box {
    flex-direction: column;
  }
}
.curriculum__box:nth-child(2) {
  margin: -0.5rem 0;
}
@media (max-width: 56.25em) {
  .curriculum__box:nth-child(2) {
    margin: 0;
  }
}
.curriculum__box:last-child {
  margin-bottom: -0.5rem;
}
@media (max-width: 56.25em) {
  .curriculum__box:last-child {
    margin: 0;
  }
}
.curriculum__img img {
  width: 50vw;
  background-size: cover;
}
@media (max-width: 56.25em) {
  .curriculum__img img {
    height: 100%;
  }
}
@media (max-width: 37.5em) {
  .curriculum__img img {
    width: 100vw;
  }
}
.curriculum__img:nth-child(2) {
  opacity: 0.99;
  position: relative;
  z-index: -1;
  margin-left: -20rem;
}
@media (max-width: 56.25em) {
  .curriculum__img:nth-child(2) {
    margin-left: 0;
  }
}
@media (max-width: 37.5em) {
  .curriculum__img:nth-child(1) {
    order: 3;
  }
}
.curriculum__text {
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem 5rem 5rem;
  font-size: 1.5rem;
  background-image: linear-gradient(75deg, #2176ff 0%, rgba(33, 118, 255, 0.8) 85%, transparent 60%);
  color: #fff;
}
@media (max-width: 56.25em) {
  .curriculum__text {
    background-image: linear-gradient(75deg, #2176ff 0%, rgba(33, 118, 255, 0.8) 100%, transparent 100%);
  }
}
@media (max-width: 37.5em) {
  .curriculum__text {
    width: 100vw;
  }
}
.curriculum__text h2 {
  background-image: linear-gradient(to right bottom, #ff7730, #ffb900);
  -webkit-background-clip: text;
  color: transparent;
}
.curriculum__text:not(:nth-child(1)) {
  margin-left: -15rem;
}
@media (max-width: 56.25em) {
  .curriculum__text:not(:nth-child(1)) {
    margin-left: 0;
  }
}
.curriculum__text:nth-child(1) {
  margin-left: 20rem;
}
@media (max-width: 56.25em) {
  .curriculum__text:nth-child(1) {
    margin-left: 0;
  }
}
@media (max-width: 37.5em) {
  .curriculum__text:nth-child(3) {
    order: -1;
  }
}
.curriculum__header:nth-child(1) {
  padding-right: 3rem;
  align-self: flex-end;
}

/*# sourceMappingURL=curriculum.css.map */
