.center-text {
  text-align: center;
}

.margin-bottom-big {
  margin-bottom: 8rem;
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-top-small {
  margin-top: 2rem;
}

.margin-top-negative-big {
  margin-top: -22rem;
}

/*

0px - 600px:       Phone
601px - 900px:     Tablet portrait
901px - 1200px:    Tablet landscape
1201px - 1800px:   In this range normal styles are applied
1801px ++ :        Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

Size calculations: browser default font size is 16px.
Media queries are not overwritten by our setup (62.5%).
max-width: 600px = 600px / browser's default = 600px / 16 = 37.5em

Order of writing queries:
1. Base + Typography
2. General layout
3. Page layout
4. Components

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  padding: 0.5rem;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.bg-parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  overflow-x: hidden;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.heading-primary--left {
  animation-name: moveInDown;
  animation-duration: 1s;
}
.heading-primary--right {
  animation-name: moveInDown;
  animation-duration: 1s;
}
.heading-primary--sub {
  display: block;
  letter-spacing: 1.3rem;
  animation-name: moveInUp;
  animation-duration: 1s;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3rem;
  background-image: linear-gradient(to right, #2176FF, #35A7FF);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1rem;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  font-weight: 400;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.2);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white {
  color: #333;
  background-color: #fff;
}
.btn--white::after {
  background-color: #fff;
}
.btn--blue {
  color: #fff;
  background-color: #2176FF;
}
.btn--blue::after {
  background-color: #2176FF;
}
.btn--animated {
  animation: moveInUp 0.7s ease 3.5s;
  animation-fill-mode: backwards;
}
.btn-text {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2176FF;
  color: #2176FF;
  padding: 0.1rem 0.3rem;
  transition: all 0.2s ease-out;
}
.btn-text:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2176FF;
  transform: translateY(-0.3rem);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 37.5em) {
  .bg-video {
    display: none;
  }
}

body {
  padding: 0 !important;
  overflow-y: hidden;
}

.section-contact {
  height: 100vh;
  padding: 3.5rem 4rem;
  background-image: linear-gradient(to right bottom, #2176FF, rgba(53, 167, 255, 0.6));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 37.5em) {
  .section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.97) 0%, rgba(255, 255, 255, 0.5) 50%, transparent 50%), url("../../img/photo-3.jpg");
  background-size: cover;
  background-position: 0% 50%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
}
@media (max-width: 56.25em) {
  .contact {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.97) 0%, rgba(255, 255, 255, 0.5) 70%, transparent 50%), url("../../img/photo-3.jpg");
  }
}
@media (max-width: 37.5em) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.2) 100%, transparent 50%), url("../../img/photo-3.jpg");
    width: 100%;
    height: 70%;
  }
}
.contact__form {
  width: 50%;
  padding: 6rem;
}
@media (max-width: 37.5em) {
  .contact__form {
    width: 80%;
  }
}
@media (max-width: 37.5em) {
  .contact__form h2 {
    font-size: 2.5rem;
    width: 20rem;
  }
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input, .form__message {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  height: 4.5rem;
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  display: block;
  width: 90%;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}
@media (max-width: 56.25em) {
  .form__input, .form__message {
    width: 130%;
  }
}
.form__input:focus, .form__message:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #35A7FF;
}
.form__input:focus:invalid, .form__message:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder, .form__message::-webkit-input-placeholder {
  color: #777;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

/*# sourceMappingURL=form.css.map */
