.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    box-shadow: 0 3rem 4rem rgba($color-deep-dark, .1);
    margin: 0 auto;
    transform: skewX(30deg);
    

    &__shape {

    }

    &__text {
        padding: 1rem 8rem;
        font-size: 1.5rem;
    }

    &__img {
        height: 20rem;
        border-radius: 3px;
        margin: 5rem 0;
    }

    & > * {
        transform: skewX(-30deg);
    }
}