body {
    padding: 0;
}

.curriculum {
    &__box {
        display: flex;
        width: 100vw;
        align-items: center;
        
        @include respond(tab-port) {
            align-items: initial;
        }

        @include respond(phone) {
            flex-direction: column;
        }

        &:nth-child(2) {
            margin: -.5rem 0;

            @include respond(tab-port) {
                margin: 0;
            }
        }

        &:last-child {
            margin-bottom: -.5rem;

            @include respond(tab-port) {
                margin: 0;
            }
        }

    }

    &__img {
        img {
            width: 50vw;
            background-size: cover;

            @include respond(tab-port) {
                height: 100%;
            }
            
            @include respond(phone) {
                width: 100vw;
            }


        }

        &:nth-child(2) {
            opacity: .99;
            position: relative;
            z-index: -1;
            margin-left: -20rem;

            @include respond(tab-port) {
                margin-left: 0;
            }
        }

        &:nth-child(1) {
            @include respond(phone) {
                order: 3;
            }
        }
    }

    &__text {
        width: 50vw;
        display: flex;
        flex-direction: column;
        padding: 5rem 10rem 5rem 5rem;
        font-size: 1.5rem;
        position: relative;
        color: $color-bright;
        background-image: linear-gradient(75deg, 
            rgba($color-primary-dark, 100) 0%,
            rgba($color-primary-dark, .8) 85%,
            transparent 60%
            );

        @include respond(tab-port) {
            background-image: linear-gradient(75deg, 
                rgba($color-primary-dark, 95) 0%,
                rgba($color-primary-dark, .8) 100%,
                transparent 100%
            );
        }

        @include respond(phone) {
            width: 100vw;
        }

        h2 {
            background-image: linear-gradient(
                to right bottom, 
                $color-tertiary-dark, 
                $color-tertiary-light);
            -webkit-background-clip: text;
            color: transparent;
        }

        &:not(:nth-child(1)) {
            margin-left: -15rem;
            

            @include respond(tab-port) {
                margin-left: 0;
            }

        }

        &:nth-child(1) {
            margin-left: 20rem;
            
            background-image: linear-gradient(75deg, 
            rgba($color-primary-dark, .01) 0%,
            rgba($color-primary-dark, .8) 85%
            );
            padding-right: 3rem;

            &:before {
                content: " ";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: -5rem;
                z-index: -1;
                background-color: rgba($color-primary-dark, .85);
                transform: skew(-20deg, 0deg);

                @include respond(tab-port) {
                    display: none;
                }
            }

            @include respond(tab-port) {
                margin-left: 0;
                background-image: linear-gradient(75deg, 
                rgba($color-primary-dark, .9) 0%,
                rgba($color-primary-dark, .8) 85%
                );
            }
        }

        &:nth-child(3) {
            @include respond(phone) {
                order: -1;
            }
        }
    }

    &__header {
        &:nth-child(1) {
            padding-right: 3rem;
            align-self: flex-end;

        }
    }
}

