body {
    padding: 0 !important; // ! ??
    overflow-y: hidden;
}

.section-contact {
    padding: 3.5rem 4rem;
    background-image: linear-gradient(to right bottom, $color-primary-dark, rgba($color-primary-light, .6));
}

.contact {
    background-image: linear-gradient(105deg,
    rgba($color-bright, .97) 0%,
    rgba($color-bright, .5) 50%,
    transparent 50%),
    url("../../img/photo-3.jpg");
    background-size: cover;
    background-position: 0% 50%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-deep-dark, .2);
    margin-bottom: .5rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}

.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input,
    &__message {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        height: 4.5rem;
        padding: 1rem 2rem;
        border-radius: 3px;
        background-color: rgba($color-bright, .7);
        border: none;
        display: block;
        width: 90%;
        border-bottom: 3px solid transparent;
        transition: all .3s ease;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-deep-dark, .1);
            border-bottom: 3px solid $color-primary-light;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-tertiary-dark;
        }
        &::-webkit-input-placeholder {
            color: $color-grey-dark;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}