body {
    padding: 0 !important; // ! ??
    overflow-y: hidden;
}

.section-contact {
    height: 100vh;
    padding: 3.5rem 4rem;
    background-image: linear-gradient(to right bottom, $color-primary-dark, rgba($color-primary-light, .6));
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(phone) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contact {
    background-image: linear-gradient(105deg,
    rgba($color-bright, .97) 0%,
    rgba($color-bright, .5) 50%,
    transparent 50%),
    url("../../img/photo-3.jpg");
    background-size: cover;
    background-position: 0% 50%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-deep-dark, .2);
    margin-bottom: .5rem;
    // width: 100%;
    // height: 100%;

    @include respond(tab-port) {
        background-image: linear-gradient(105deg,
            rgba($color-bright, .97) 0%,
            rgba($color-bright, .5) 70%,
            transparent 50%),
            url("../../img/photo-3.jpg");
    }

    @include respond(phone) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: linear-gradient(to bottom,
            rgba($color-bright, .8) 20%,
            rgba($color-bright, .2) 100%,
            transparent 50%),
            url("../../img/photo-3.jpg");
            width: 100%;
            height: 70%;
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(phone) {
            width: 80%;
        }

        h2 {
            @include respond(phone) {
                font-size: 2.5rem;
                width: 20rem;
            }
        }
    }
}

.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input,
    &__message {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        height: 4.5rem;
        padding: 1rem 2rem;
        border-radius: 3px;
        background-color: rgba($color-bright, .7);
        border: none;
        display: block;
        width: 90%;
        border-bottom: 3px solid transparent;
        transition: all .3s ease;

        @include respond(tab-port) {
            width: 130%;
        }



        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-deep-dark, .1);
            border-bottom: 3px solid $color-primary-light;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-tertiary-dark;
        }
        &::-webkit-input-placeholder {
            color: $color-grey-dark;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}