.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    perspective: 40rem;
    
    
    &__feature {
        flex-wrap: wrap;
        position: relative;
        margin: 0 1rem;
        text-align: center;
        background: $color-bright;
        box-shadow: 0 1rem 1rem rgba($color-deep-dark, .25);
        height: 49rem;
        
        transition: all .2s ease;
        transform-style: preserve-3d;
        transform: rotateX(10deg);

        &:hover {
            transform: rotateX(0deg);
        }
    }

    &__link {
        position: absolute;
        top: 10%;
        opacity: 0;
        visibility: hidden;
        
        &--live {
            margin-bottom: 2rem;
            width: 10rem;
        }

        &--code {
            width: 10rem;
        }
    }

    &__img {
        background-size: cover;
        background-position: center bottom;
        height: 25rem;
        width: 100%;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
        transition: all .3s ease;

        &--1 {
            background-image: linear-gradient(to right, 
            $color-primary-light, 
            $color-primary-dark), 
            url("../../img/photo-github-1.JPG");
        }

        &--2 {
            background-image: linear-gradient(to right, 
            $color-secondary-light, 
            $color-secondary-dark), 
            url("../../img/photo-github-2.JPG");
        }

        &--3 {
            background-image: linear-gradient(to right, 
            $color-tertiary-light, 
            $color-tertiary-dark), 
            url("../../img/photo-github-3.JPG");
        }

        &--4 {
            background-image: linear-gradient(to right, 
            $color-quaternary-light, 
            $color-quaternary-dark), 
            url("../../img/photo-github-4.JPG");
        }

        &--5 {
            background-image: linear-gradient(to right, 
            $color-primary-light, 
            $color-primary-dark), 
            url("../../img/photo-github-1.JPG");
        }
    }

    &__heading {
        font-size: 1.6rem;
        padding: 0 3rem;
    }

    &__details {
        padding: 0 2rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        font-size: 1.4rem;
        padding: .5rem 0;

        &:not(:last-child) {
            border-bottom: 1px solid $color-grey-dark-2;
        }
    }

    &:hover &__feature:not(:hover) {
        transform: scale(.8) rotateX(10deg);
        
    }

    &__feature:hover &__img {
        filter: grayscale(30%) brightness(40%);
    }

    &__feature:hover &__link {
        opacity: 1;
        visibility: visible;
    }
}